<div class="todo-app">
  <header class="header">
    <h2>Todos-reactive</h2>
    <div class="input-wrapper">
      <input class="new-todo" placeholder="What needs to be done?" #todoInput autofocus />
      <button class="add-todo" (click)="addTodo(todoInput.value)">Add</button>
    </div>
    <span class="page-tool">
      <label>Page {{ page$ | async }} of {{ totalPages$ | async }} : </label>
      <span class="buttons">
        <button class="prev" (click)="movePageBy(-1)" [disabled]="(page$ | async) === 1">Prev</button>
        <button class="next" (click)="movePageBy(1)" [disabled]="(totalPages$ | async) === (page$ | async)">Next</button>
      </span>
    </span>
  </header>
  <!-- <section class="main">
  <ul class="todo-list">
    <li class="todo" *ngFor="let todo of todos$ | async">
      <div class="view">
        <input class="toggle" type="checkbox" [checked]="todo.completed" [(ngModel)]="todo.completed" (ngModelChange)="toggleComplete(todo);">
        <label *ngIf="!todo.editing">{{todo.todo}}</label>
        <button class="edit" *ngIf="!todo.editing" (click)="editTodo(todo)">Edit</button>
        <button class="destroy" *ngIf="!todo.editing" (click)="removeTodo(todo)">Destroy</button>
        <input class="edit" *ngIf="todo.editing" [(ngModel)]="todo.todo" (keyup.enter)="updateTodo($event, todo)">
        <button class="destroy" *ngIf="todo.editing" (click)="stopEditing(todo)">Cancel</button>
      </div>
    </li>
  </ul>
</section> -->
<ul class="list-group mb-3">
  @for (todo of todos$ | async; track todo) {
    <li class="list-group-item d-flex justify-content-between align-items-center">
      @if (!todo.isDeleted) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [checked]="todo.completed"
            [(ngModel)]="todo.completed"
            (ngModelChange)="toggleComplete(todo)"
            id="todoCheck{{ todo.id }}"
            />
          @if (!todo.editing) {
            <label class="form-check-label" for="todoCheck{{ todo.id }}">
              {{ todo.todo }}
            </label>
          }
        </div>
      }
      @if (!todo.isDeleted) {
        <div>
          @if (!todo.editing) {
            <button class="btn btn-secondary btn-sm" (click)="editTodo(todo)">Edit</button>
          }
          @if (!todo.editing) {
            <button class="btn btn-danger btn-sm" (click)="removeTodo(todo)">Delete</button>
          }
          @if (todo.editing) {
            <input class="new-todo" [(ngModel)]="todo.todo" (keyup.enter)="updateTodo($event, todo)" />
          }
          @if (todo.editing) {
            <button class="btn btn-secondary btn-sm" (click)="stopEditing(todo)">Cancel</button>
          }
        </div>
      }
    </li>
  }
</ul>
<footer class="footer">
  <span class="todo-count"
    ><strong>{{ todosLeft$ | async }} of {{ todosCount$ | async }}</strong> item(s) left</span
    >
    <button class="clear-completed" (click)="clearCompleted(todos$)">Clear completed</button>
    <div class="buttons">
      <button class="prev" (click)="movePageBy(-1)" [disabled]="(page$ | async) === 1">Prev</button>
      <button class="next" (click)="movePageBy(1)" [disabled]="(totalPages$ | async) === (page$ | async)">Next</button>
    </div>
  </footer>
</div>
