<ul class="nav">
  <li class="nav-item"><a class="nav-link" [routerLink]="['/rxjs-basic']">BASIC</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/reactive']">REACTIVE</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/todos']">TODOS</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/todos-basic']">TODOS-Basic</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/todos-signals']">TODOS-Signals</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/todos-signals-api']">TODOS-Signals-API</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/todos-reactive']">TODOS-reactive</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/test/selectors']">SELECTORS</a></li>
</ul>
